@page
@model CrudPeliculas_RazorPages_EntityFramework.Pages.Shared.EditarModel
@{
    ViewData["Title"] = "Editar";
}

<div class="container">
            <h1>Editar pelicula</h1>

            <form method="post" asp-page-handler="Editar">
                <input asp-for="Pelicula.Id" type="hidden" />

                <div class="form-group">
                    <input type="text" asp-for="Pelicula.Titulo" class="form-control" placeholder="Titulo" />
                    <span asp-validation-for="Pelicula.Titulo" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <input type="number" asp-for="Pelicula.Duracion" class="form-control" placeholder="Duración" />
                    <span asp-validation-for="Pelicula.Duracion" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-secondary" />
                    <a href="/" class="btn btn-danger">Cancelar</a>
                </div>


            </form>


        </div>